<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.mycompany.user_management.registration.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminVerification</servlet-name>
        <servlet-class>com.mycompany.user_management.registration.AdminVerification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminVerification</servlet-name>
        <url-pattern>/AdminVerification</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LoginToSystem</servlet-name>
        <servlet-class>com.mycompany.user_management.login.LoginToSystem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginToSystem</servlet-name>
        <url-pattern>/login/LoginToSystem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmailForPasswordReset</servlet-name>
        <servlet-class>com.mycompany.user_management.forgotpassword.EmailForPasswordReset</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmailForPasswordReset</servlet-name>
        <url-pattern>/EmailForPasswordReset</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidateEnteredCode</servlet-name>
        <servlet-class>com.mycompany.user_management.codematching.ValidateEnteredCode</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateEnteredCode</servlet-name>
        <url-pattern>/ValidateEnteredCode</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>com.mycompany.user_management.updatepassword.UpdatePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.mycompany.user_management.logout.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
